extends layout

block content
    .bounds.app--body
        .app--section--header
            .grid-33
                .app--section--heading
                    h2 Timeline
            .grid-33
                .app--section--heading
                    strong=friends.friend_count
                    h2 Following
            .grid-33
                .app--section--heading
                    h2 Direct Messages
                    
        .grid-33
            .app--section
                ul.app--tweet--list
                    include partial/timeline

        .grid-33
            .app--section
                ul.app--user--list
                    each friend in friends.friend_list
                        li
                            .circle--fluid
                                .circle--fluid--cell.circle--fluid--primary
                                    a.app--tweet--author
                                        .app--avatar(style=`background-image: url(${friend.profile_image})`)
                                            img(src=friend.profile_image)
                                        h4=friend.user_name
                                        p @#{friend.screen_name}
                                .circle--fluid--cell
                                    a.button.button-text Unfollow
        .grid-33
            .app--section
                ul.app--message--list
                    li
                        h3
                            | Conversation with 
                            a @#{screen_name}
                        ul.app--message--conversation
                            each message in messages
                                li.app--message
                                    .app--avatar(style='background-image: url(images/f-spore.png)')
                                        img(src='images/f-spore.png')
                                    p.app--message--text=message.text
                                    p.app--message--timestamp=message.date